.cart{
  position:absolute;
  width:calc(30% - 2rem);
  height:53rem;
  right:2rem;
  background: linear-gradient(70deg, #000000 -96.1%, #18191B 56.47%);
  box-shadow: inset 2px 3px 8px #070709;
  border-radius: 2.1rem;
  padding:1rem 1.5rem;
  overflow:hidden;
}

.cart__price{
  font-weight: 600;
  font-size: 16px;
  color: #ECECEC;
  margin-left:0.5rem;
}

.cart__items{
  margin-top:3rem;
  height:30rem;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  width:auto;
  transition:0.5s;
  transition-timing-function: cubic-bezier(.82,.18,.31,.91);
  margin-left:-1.5rem;
  margin-right:-1.5rem;
}
