.goods{
  width:32%;
  margin-right:2%;
  background: linear-gradient(260deg, #262728 -96.1%, #1C1E22 56.47%);
  box-shadow: inset 2px 3px 8px #070709, inset -2px -2px 5px rgba(255, 255, 255, 0.06);
  border-radius: 2rem;
  height:100%;
  position:relative;
  padding:1.5rem 1.7rem;
  overflow:hidden;
  order:1;
}

.goods-wrapper{
  margin-left:-1.7rem;
  margin-right:-1.7rem;
  height:45rem;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content: flex-start;
  transition:0.5s;
  transition-timing-function: cubic-bezier(.82,.18,.31,.91);
}

@media screen and (max-width:1100px){
  .goods{
    order:2;
    height:55rem;
    margin-top:30px;
    width:100%;
    margin-right:0;
    box-sizing:border-box;
  }
}
