.categories{
  width:28%;
  height:20rem;
  margin-left:-31%;
  display:flex;
  flex-wrap:wrap;
  text-align:center;
  justify-content:center;
  order:2;
}

@media screen and (max-width:1100px){
  .categories{
    order:1;
    margin-left:0;
    width:100%;
  }
}

@media screen and (max-width:500px){
  .categories{
    justify-content: space-between;
  }
}
